Final Deliverable/Node-redflows.txt
[{"id":"abd068fd33775abf","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"17a25f077129d90d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"cfe8b3b6.bf496","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"555f5e50812c52f6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2a0e4ecd903389d","type":"ui_group","name":"Default","tab":"3d292211e9382474","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3d292211e9382474","type":"ui_tab","name":"Home bro","icon":"dashboard","disabled":false,"hidden":false},{"id":"91f47ea943df0e0b","type":"ibmiot","name":"iot-2","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"77460cfa54cdc67d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"534de2e0.fb8a9c","type":"ibmiot","name":"Test","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"10d1c91e.01c2d7","type":"ui_group","name":"Measured Data","tab":"934d898c.290898","order":1,"disp":true,"width":6,"collapse":false},{"id":"4f408f77.1c2d3","type":"ui_group","name":"Motor Controls","tab":"b6be7c1.459cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ca8a178.6d435e","type":"ui_group","name":"Weather Forecasting Data","tab":"934d898c.290898","order":2,"disp":true,"width":6,"collapse":false},{"id":"934d898c.290898","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6be7c1.459cd8","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a3951e0e9c61f5a","type":"firebase config","firebaseurl":"smart-farmer-a2bdd-default-rtdb","loginType":"none"},{"id":"549c770edb0a7939","type":"firebase config","firebaseurl":"smart-farmer-a2bdd-default-rtdb","loginType":"none"},{"id":"10d262fd52ec6a38","type":"firebase config","firebaseurl":"smart-farmer-a2bdd-default-rtdb","loginType":"none"},{"id":"76d5651c973b1bd4","type":"firebase config","firebaseurl":"smart-farmer-a2bdd-default-rtdb","loginType":"none"},{"id":"2f18fc76d4767a74","type":"firebase config","firebaseurl":"smart-farmer-a2bdd-default-rtdb","loginType":"none"},{"id":"e7d754ff35964b52","type":"http in","z":"abd068fd33775abf","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["ab8d67b4dcca3583"]]},{"id":"ab8d67b4dcca3583","type":"function","z":"abd068fd33775abf","name":"","func":"msg.payload = {\"temp\":global.get(\"t\"),\"Humid\":global.get(\"h\"),\"soilmoisture\":global.get(\"s\"),\"weather\":global.get(\"weather\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["f6577d38d2b0e480"]]},{"id":"f6577d38d2b0e480","type":"http response","z":"abd068fd33775abf","name":"","statusCode":"","headers":{},"x":630,"y":340,"wires":[]},{"id":"ad87064cedf24d48","type":"inject","z":"abd068fd33775abf","name":"hello Node red","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["f1cf46709a884706"]]},{"id":"f1cf46709a884706","type":"debug","z":"abd068fd33775abf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"042441143f5ee32f","type":"ibmiot in","z":"abd068fd33775abf","authentication":"apiKey","apiKey":"91f47ea943df0e0b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":200,"wires":[["0b2ed688d05cde47","edb906444a13c127","dda0f6194925714c"]]},{"id":"0b2ed688d05cde47","type":"function","z":"abd068fd33775abf","name":"","func":"msg.payload =msg.payload.temp\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["f1cf46709a884706"]]},{"id":"edb906444a13c127","type":"function","z":"abd068fd33775abf","name":"","func":"msg.payload =msg.payload.Humid\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["f1cf46709a884706"]]},{"id":"dda0f6194925714c","type":"function","z":"abd068fd33775abf","name":"","func":"msg.payload =msg.payload.soilmoisture\nglobal.set(\"s\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["f1cf46709a884706"]]},{"id":"2925f303ae65163d","type":"debug","z":"abd068fd33775abf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"42dcfca5c3754c75","type":"ibmiot out","z":"abd068fd33775abf","authentication":"apiKey","apiKey":"91f47ea943df0e0b","outputType":"cmd","deviceId":"98712345","deviceType":"smartfarmapplication","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":640,"wires":[]},{"id":"bc9448fcd93eb6cb","type":"ui_button","z":"abd068fd33775abf","name":"Motor ON","group":"4f408f77.1c2d3","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":140,"y":540,"wires":[["42dcfca5c3754c75","2925f303ae65163d"]]},{"id":"a173374201172b1c","type":"ui_button","z":"abd068fd33775abf","name":"Motor OFF","group":"4f408f77.1c2d3","order":1,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":150,"y":620,"wires":[["42dcfca5c3754c75","2925f303ae65163d"]]},{"id":"201624b4d4d9ba34","type":"http in","z":"abd068fd33775abf","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":460,"wires":[["42dcfca5c3754c75","2925f303ae65163d","cce3cd29cfaef41f"]]},{"id":"cce3cd29cfaef41f","type":"http response","z":"abd068fd33775abf","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"3e61d191229b3c21","type":"debug","z":"abd068fd33775abf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"d5d6bd5adcb61626","type":"ui_button","z":"abd068fd33775abf","name":"Motor for 30 minutes","group":"4f408f77.1c2d3","order":4,"width":0,"height":0,"passthru":false,"label":"Motor for 30 minutes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motorthirty\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":680,"wires":[["42dcfca5c3754c75"]]},{"id":"78e38a9fee912074","type":"ibmiot in","z":"555f5e50812c52f6","authentication":"apiKey","apiKey":"534de2e0.fb8a9c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"qwerty123","applicationId":"","deviceType":"iotdevice1","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":190,"y":260,"wires":[["32c4b0e2dbec3511","96d547f0217f504f","77f94207a8529883","5329839488e2f1fc"]]},{"id":"96d547f0217f504f","type":"function","z":"555f5e50812c52f6","name":"Soil Moisture","func":"msg.payload = msg.payload.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["d66e286c96eb4ad0","288f84bf5467f723"]]},{"id":"d66e286c96eb4ad0","type":"ui_gauge","z":"555f5e50812c52f6","name":"Soil Moisture Guage","group":"10d1c91e.01c2d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ffff00","#ff0000"],"seg1":"","seg2":"","className":"","x":840,"y":280,"wires":[]},{"id":"c18993ad31753646","type":"http request","z":"555f5e50812c52f6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai,in&appid=254bd0e556fff389e29c7e7d95c8e1ca","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"x":370,"y":720,"wires":[["06ac279eedfb8742","6aa4ae530fbdac6b","4e166325939b35eb","05ac18091311f6b3","0e6d619fa05407a6","9524428c2b1c9bde","c0dd9d350a9da87b"]]},{"id":"98ebed0e163eb842","type":"inject","z":"555f5e50812c52f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":720,"wires":[["c18993ad31753646"]]},{"id":"6aa4ae530fbdac6b","type":"function","z":"555f5e50812c52f6","name":"Temperature","func":"var temperature = msg.payload.main.temp;\ntemperature = temperature-273.15;\nreturn {payload : temperature.toFixed(2)};\n","outputs":1,"noerr":0,"x":630,"y":680,"wires":[["c7dda4e0b1f27df8","afafb4ac9eeecbff"]]},{"id":"c7dda4e0b1f27df8","type":"ui_gauge","z":"555f5e50812c52f6","name":"Temperature Guage","group":"3ca8a178.6d435e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":660,"wires":[]},{"id":"05ac18091311f6b3","type":"function","z":"555f5e50812c52f6","name":"feels like","func":"var feelsLike = msg.payload.main.feels_like;\nfeelsLike = feelsLike-273.15;\nreturn {payload : feelsLike.toFixed(2)};\n","outputs":1,"noerr":0,"x":620,"y":800,"wires":[["c93a0f78d8fb6e95","445835bb50c1696e"]]},{"id":"c93a0f78d8fb6e95","type":"ui_gauge","z":"555f5e50812c52f6","name":"Feels like Guage","group":"3ca8a178.6d435e","order":2,"width":0,"height":0,"gtype":"gage","title":"Feels like","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":820,"wires":[]},{"id":"77f94207a8529883","type":"function","z":"555f5e50812c52f6","name":"humidity","func":"msg.payload=msg.payload.Humid\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["031929c534c3252b","ac847ec361a8849b"]]},{"id":"031929c534c3252b","type":"ui_gauge","z":"555f5e50812c52f6","name":"Humidity Guage","group":"10d1c91e.01c2d7","order":3,"width":0,"height":0,"gtype":"gage","title":"Actual Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":360,"wires":[]},{"id":"32c4b0e2dbec3511","type":"function","z":"555f5e50812c52f6","name":"temperature","func":"msg.payload=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["2e4571e63702b2bb","2ef7a79dc53d7f75"]]},{"id":"2e4571e63702b2bb","type":"ui_gauge","z":"555f5e50812c52f6","name":"Actual Temperature Guage","group":"10d1c91e.01c2d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature ","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":140,"wires":[]},{"id":"4e166325939b35eb","type":"function","z":"555f5e50812c52f6","name":"Humidity","func":"var Humidity = msg.payload.main.humidity;\nreturn {payload : Humidity.toFixed(2)};\n","outputs":1,"noerr":0,"x":620,"y":740,"wires":[["da0fdd2a26ebc6bc","71171995458f8523"]]},{"id":"da0fdd2a26ebc6bc","type":"ui_gauge","z":"555f5e50812c52f6","name":"Relative Humidity Guage","group":"3ca8a178.6d435e","order":3,"width":0,"height":0,"gtype":"gage","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":740,"wires":[]},{"id":"288f84bf5467f723","type":"ui_text","z":"555f5e50812c52f6","group":"10d1c91e.01c2d7","order":6,"width":0,"height":0,"name":"Soil Moisture","label":"Soil Moisture","format":"{{msg.payload}}","layout":"row-spread","className":"","x":810,"y":240,"wires":[]},{"id":"2ef7a79dc53d7f75","type":"ui_text","z":"555f5e50812c52f6","group":"10d1c91e.01c2d7","order":4,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":100,"wires":[]},{"id":"ac847ec361a8849b","type":"ui_text","z":"555f5e50812c52f6","group":"10d1c91e.01c2d7","order":5,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":320,"wires":[]},{"id":"71171995458f8523","type":"ui_text","z":"555f5e50812c52f6","group":"3ca8a178.6d435e","order":8,"width":0,"height":0,"name":"Relative Humidity","label":"Relative Humidity(°C)","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":700,"wires":[]},{"id":"afafb4ac9eeecbff","type":"ui_text","z":"555f5e50812c52f6","group":"3ca8a178.6d435e","order":6,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":620,"wires":[]},{"id":"445835bb50c1696e","type":"ui_text","z":"555f5e50812c52f6","group":"3ca8a178.6d435e","order":7,"width":0,"height":0,"name":"Feels like","label":"Feels like(%)","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":780,"wires":[]},{"id":"06ac279eedfb8742","type":"function","z":"555f5e50812c52f6","name":"Max. Temperature","func":"var max = msg.payload.main.temp_max;\nmax=max-273.15;\nreturn {payload:max.toFixed(2)};","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["4ac3401e96fbc52a"]]},{"id":"4ac3401e96fbc52a","type":"ui_text","z":"555f5e50812c52f6","group":"3ca8a178.6d435e","order":4,"width":0,"height":0,"name":"Max. Temperature","label":"Max. Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":580,"wires":[]},{"id":"0e6d619fa05407a6","type":"function","z":"555f5e50812c52f6","name":"Min. Temperature","func":"var min = msg.payload.main.temp_min;\nmin = min-273.15;\nreturn {payload:min.toFixed(2)};","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["3b75dec2180405d3"]]},{"id":"3b75dec2180405d3","type":"ui_text","z":"555f5e50812c52f6","group":"3ca8a178.6d435e","order":5,"width":0,"height":0,"name":"Min. Temperature","label":"Min. Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":860,"wires":[]},{"id":"5329839488e2f1fc","type":"debug","z":"555f5e50812c52f6","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":420,"wires":[]},{"id":"9524428c2b1c9bde","type":"debug","z":"555f5e50812c52f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":920,"wires":[]},{"id":"08dc0e6be9ac57a7","type":"http in","z":"555f5e50812c52f6","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":500,"wires":[["91d8db6db2a2e7be"]]},{"id":"91d8db6db2a2e7be","type":"function","z":"555f5e50812c52f6","name":"","func":"msg.payload = {\"temp\":global.get(\"t\"),\"Humid\":global.get(\"h\"),\"soilmoisture\":global.get(\"s\"),\"weather\":global.get(\"weather\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["c15cae2bc5f190f1"]]},{"id":"c15cae2bc5f190f1","type":"http response","z":"555f5e50812c52f6","name":"","statusCode":"","headers":{},"x":690,"y":500,"wires":[]},{"id":"c0dd9d350a9da87b","type":"function","z":"555f5e50812c52f6","name":"","func":"msg.payload=msg.payload.weather[0].main\nglobal.set(\"weather\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":560,"wires":[[]]}]
